@import "../common/sass/mobile.scss";

.container {
    width: calc(100% - 72px);
    height: calc(100vh - 76px);
    padding: 24px 36px;
    background-color: #f1f3f5;
    overflow-y: auto;

    display: flex;
    flex-flow: row wrap;

    &::before,
    &::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 5;
    }
}

.search-container {
    width: 100%;
}

.postlist-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // .postlist-box {
    //     width: 85%;
    //     display: flex;
    //     justify-content: space-between;
    //     flex-wrap: wrap;

    //     @media screen and (max-width: $tablet-max-width) {
    //         width: 90%;
    //         justify-content: space-between;
    //     }

    //     @media screen and (max-width: $mobile-max-width) {
    //         width: 100%;
    //         justify-content: center;
    //     }
    // }
}
